# Base de datos
DATABASE_URL=postgresql+asyncpg://usuario:password@localhost:5432/pasarela_db

# URLs servicios serverless de tarjetas
VISA_SERVICE_URL=https://tu-funcion-visa.pocketbase.io
MASTERCARD_SERVICE_URL=https://tu-funcion-mastercard.pocketbase.io

# Entorno
APP_ENV=development
